/*Css page d'accueil*/

/* Section de bienvenue */
.welcome-section {
    padding: 40px 20px;
    text-align: center;
    color: #333; 
}

.welcome-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1a73e8; 
}

.welcome-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.welcome-content strong {
    color: #000;
}

.why-visit h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ff9800; 
}

.why-visit ul {
    list-style-type: none; 
    padding: 0;
}

.why-visit ul li {
    font-size: 1.1rem;
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
    position: relative;
}

.why-visit ul li::before {
    content: "✔"; 
    color: #4caf50;
    position: absolute;
    left: 0;
}

.signature {
    font-size: 1.2rem;
    margin-top: 30px;
    font-style: italic;
    color: #555;
}
.image-container {
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    height: 100px; 
    margin-top: 80px;

}

.image-link {
    display: inline-block; 
    padding: 0; 
}

#profil {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: translateX(0%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0; 
}

@media (max-width: 768px) {
    #profil {
        max-width:100px;
        max-height: 100px;
        border-radius: 50%;
    }

    .image-container {
        height: 150px; 
        border-radius: 50%;
        left: 50%;
    }
}
