/*Css page d'accueil*/

/* Section de bienvenue */
.welcome-section {
    padding: 40px 20px;
    text-align: center;
    color: #333; 
}

.welcome-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1a73e8; 
}

.welcome-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.welcome-content strong {
    color: #000;
}

.why-visit h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ff9800; 
}

.why-visit ul {
    list-style-type: none; 
    padding: 0;
}

.why-visit ul li {
    font-size: 1.1rem;
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
    position: relative;
}

.why-visit ul li::before {
    content: "✔"; 
    color: #4caf50;
    position: absolute;
    left: 0;
}

.signature {
    font-size: 1.2rem;
    margin-top: 30px;
    font-style: italic;
    color: #555;
}


header img {
    max-width: 100px; 
    max-height: 100px;
    width: 100%;
    height: auto; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0 auto;
    display: block;
}

/* Styles spécifiques pour les petits écrans */
@media (max-width: 768px) {
    header img {
        max-width: 80px; 
        max-height: 80px;
        width: 80px; 
        height: 80px;
        margin-top: 10px;
    }
}
