/*Css page d'accueil*/
.download-btn {
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgb(5, 4, 4);
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
    position: relative;
    top: 285px;
    left: 10px;

}

.download-btn:hover {
    background-color: #b9bcbe;
}

